<!-- In your base HTML template (e.g., base.html) -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Object Detection App{% endblock %}</title>
    
    <link href="{% static 'fonts/bootstrap/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'css/main.min.css' %}" rel="stylesheet">
    
</head>
<body>
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block scripts %}
    {% endblock %}
</body>
</html>
